body.frontend{
	// NEST
	.jumbotron {
		padding: 50px;
		text-align: center;
		// NEST
		p{
			max-width: 650px;
			width: 100%;
			margin: auto;
		}
	}

	.products-wrap{
		padding: 30px 15px;
		background-color: #f8f9fa;
		// NEST
		.product {
		    position: relative;
		    min-width: 0;
		    background-color: #fff;
		    background-clip: border-box;
		    border: 1px solid rgba(0,0,0,.125);
		    border-radius: .25rem;
		    // NEST
		    .card-body {
			    padding: 1.25rem;
			    // NEST
			    h3{
			    	font-weight: bold;
			    	font-size: 16px;
			    }
			    p{ font-size: 14px; }
			    .buttons{
			    	margin-top: 15px;
			    	font-size: 14px;
			    	// NEST
					a{
						text-decoration: none;
						padding: 3px 5px;
						font-size: 13px;
						color: #6c757d;
						border: 1px solid;
						border-radius: 3px;
					}
					.product--price{ font-weight: bold; }
			    }

			    .bidding--form{
			    	margin-top: 15px;
			    	background: #efefef;
			    	padding: 10px;
			    }
			}
		}
	}

	.box-shadow { box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05); }
	.card-img-top {
	    border-top-left-radius: calc(.25rem - 1px);
	    border-top-right-radius: calc(.25rem - 1px);
	}

	.maxed-content{
		max-width: 750px;
		width: 100%;
		margin: auto;
		// NEST
		.product--info{
			padding-top: 15px;
			// NEST
			.price-sku{
				margin-top: 15px;
				background: #f7f7f7;
				padding: 10px;
			}
			.highlight_your_bidding{
				background: #ebff84;
				padding: 5px;
			}
		}
	}
}