/* Header
============================= */
#top-head{
  background-color: #1072d6;
  height: 50px;
  line-height: 50px;
  // NEST
  .container{
    max-width: 1290px;
    width: 100%;
    margin: auto;
    // NEST
    a{
      font-size: 14px;
      font-weight: 700;
      color: #fff;
    }
  }
}
header {
  background-color: #0d82df;
  padding-bottom: 10px;

  // border-bottom: 4px solid #3e4855;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%; */
  // NEST
  .container{
  	max-width: 1290px;
  	width: 100%;
  	margin: auto;
  }
  .navbar-brand{
  	// max-width: 350px;
    padding: 0;
  }
  .navbar.navbar-default{
  	min-height: initial;
    margin-bottom: 0;
  	background-image: none;
  	background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  	// NEST
  	.navbar-nav{
  		// NEST
  		>li{
        &.active{
          // NEST
          a{
            background-image: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            background-color: #00a99d;
            color: #fff;
          }
        }
  			// NEST
  			>a {
			    text-transform: uppercase;
			    font-weight: 800;
			    font-size: 14px;
			    color: #badbf5;
          text-shadow: none;
          letter-spacing: 1px;
          &.higlighed{
            background: #85bf31;
            color: #fff;
            border-radius: 3px;
          }
			  }
  		}
  	}
  }
}